ConsoleApp_Service/ConsoleApp1/Connected Services/ConfigService/ConfigService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://eDell.dell.com/product/contract/configService/v3" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ConfigService.V3.ConfigHttpService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <cfg:ConfigEncoding xmlns:cfg="http://www.dell.com/USPConfig/ConfigService" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ConfigService.V3.BinaryHttpService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://eDell.dell.com/product/contract/configService/v3" location="http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="ConfigService.V3.ConfigHttpService" type="i0:IConfigService">
    <wsp:PolicyReference URI="#ConfigService.V3.ConfigHttpService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestForChannelServiceCard">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestForChannelServiceCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestForTestHarness">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestForTestHarness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestList">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsConfigItem">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsConfigItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsItem">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsFullConfigItem">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsFullConfigItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessDeltaRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessDeltaRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveConfigModules">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/RetrieveConfigModules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestSelectionsCode">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestSelectionsCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessFlavorsForDraftConfigRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessFlavorsForDraftConfigRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessExchangeOrdercodeRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessExchangeOrdercodeRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessSelectionCodeForChannelServiceCard">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessSelectionCodeForChannelServiceCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigService.V3.BinaryHttpService" type="i0:IConfigService">
    <wsp:PolicyReference URI="#ConfigService.V3.BinaryHttpService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestForChannelServiceCard">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestForChannelServiceCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestForTestHarness">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestForTestHarness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestList">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsConfigItem">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsConfigItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsItem">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsFullConfigItem">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsFullConfigItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessDeltaRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessDeltaRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveConfigModules">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/RetrieveConfigModules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestSelectionsCode">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestSelectionsCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessFlavorsForDraftConfigRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessFlavorsForDraftConfigRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessExchangeOrdercodeRequest">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessExchangeOrdercodeRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessSelectionCodeForChannelServiceCard">
      <soap12:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessSelectionCodeForChannelServiceCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap12:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigService.V3.BasicHttpService" type="i0:IConfigService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestForChannelServiceCard">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestForChannelServiceCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestForTestHarness">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestForTestHarness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestList">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsConfigItem">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsConfigItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsItem">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestAsFullConfigItem">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestAsFullConfigItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessDeltaRequest">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessDeltaRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveConfigModules">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/RetrieveConfigModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestSelectionsCode">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessRequestSelectionsCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessFlavorsForDraftConfigRequest">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessFlavorsForDraftConfigRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessExchangeOrdercodeRequest">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessExchangeOrdercodeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessSelectionCodeForChannelServiceCard">
      <soap:operation soapAction="http://eDell.dell.com/product/contract/configService/v3/IConfigService/ProcessSelectionCodeForChannelServiceCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigExceptionDetailFault">
        <soap:fault use="literal" name="ConfigExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigService">
    <wsdl:port name="ConfigService.V3.ConfigHttpService" binding="tns:ConfigService.V3.ConfigHttpService">
      <soap12:address location="http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc/configHttp" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc/configHttp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="ConfigService.V3.BinaryHttpService" binding="tns:ConfigService.V3.BinaryHttpService">
      <soap12:address location="http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc/binaryHttp" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc/binaryHttp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="ConfigService.V3.BasicHttpService" binding="tns:ConfigService.V3.BasicHttpService">
      <soap:address location="http://g4vmconfigsvc01.olqa.preol.dell.com:8080/ConfigService/V3/ConfigService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>